<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg  p-0">
          <!-- logo -->
          <a class="navbar-brand font-weight-bold mb-0" [routerLink]="['/home']"  title="Codesaarthi">
            <img class="img-fluid" width="35" height="35" src="assets/assets/images/logo.png" alt="Codesaarthi">
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navHeader" aria-controls="navHeader" aria-expanded="false" aria-label="Toggle navigation">
            <i class="ti ti-menu-2 d-inline text-warning"></i>
            <i class="ti ti-x d-none text-danger"></i>
          </button>

          <div class="collapse navbar-collapse p-2" id="navHeader">
            <ul class="navbar-nav mx-auto" >
              <li class="nav-item active">
                <a class="nav-link " style="color: black !important;" [routerLink]="['/home']">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: black !important;" [routerLink]="['/about']">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: black !important;" [routerLink]="['/privacy']">Privacy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: black !important;" [routerLink]="['/send-mail']">Contact</a>
              </li>
              <li class="nav-item"  *ngIf="authService.isLoggedIn() == false">
                <a class="nav-link" style="color: black !important;" [routerLink]="['/register']">Register</a>
              </li>
              <li class="nav-item" *ngIf="authService.isLoggedIn() === true">
                <a class="nav-link" style="color: black !important;" [routerLink]="['/author/', authorId]">My account</a>
              </li>
              <li class="nav-item" *ngIf="authService.isLoggedIn() == true">
                <a class="nav-link" (click)="logout()" style="color: black !important;">Logout</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>