<footer>
  <div class="container-fluid pt-4" style="background-color: #262626 !important;">
    <div class="container" >
      <div class="pb-5">
        <div class="row g-2 g-lg-4 align-items-center">
          <div class="col-lg-6 text-center text-lg-start">
            <p class="mb-0 copyright-text content text-light">&copy;2024 Codesaarthi. All rights reserved.</p>
          </div>
          <div class="col-lg-6 text-center text-lg-end">
          
            <div>
              <a href="/privacy" class="text-light">Privacy Policy | </a>
              <a href="/**" class="text-light">404 Page</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </footer>