<div class="container mt-5 py-lg-5 py-2">


    <h2 class="text-center text-warning"> Create author account </h2>

    <div class="col-6 mx-auto">

     

        <input [(ngModel)] = "author.name" type="text" class="form-control m-1" placeholder="name">
        <input [(ngModel)] = "author.lastname" type="text" class="form-control m-1" placeholder="lastname">
        <input [(ngModel)] = "author.email" type="text" class="form-control m-1" placeholder="email">
        <input [(ngModel)] = "author.password" type="password" class="form-control m-1" placeholder="password">
        <input type="file"  (change)="select($event)"  class="form-control m-1" placeholder="image">
        <textarea  name="" [(ngModel)] = "author.about" id="" cols="30" rows="4" placeholder="about" class="form-control m-1" ></textarea>

        <button (click)="register()" class="btn btn-warning form-control m-1">Register</button>

<p class="my-3">Already have an account <a href = "/login" class="text-warning" >Sign up</a></p>
    </div>

</div>